<main id="main" class="main">
  <div class="pagetitle">
    <h1>Personal Credentials</h1>
    <!-- <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Risk Assessment Data - I</li>
      </ol>
    </nav> -->
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">
              <!-- Personal Credentials -->
            </h5>
            <div>
              <table id="customers">
                <tr>
                  <th>Sr No.</th>
                  <th>Parameter</th>
                  <!-- <th>Particulars</th> -->
                  <!-- <th>Score Options</th>
                  <th>Assigned Weight</th>
                  <th>Max Weignted Score</th>
                  <th>Assigned Score</th>
                  <th>Assigned Weigted Score</th> -->
                </tr>
                <tr>
                  <td>1</td>
                  <td style="font-weight: bold; font-size: 15px">
                    Applicant's Age (Average Age if Joint Borrowers)
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td
                    [class]="'selectable ' + a1"
                    (click)="handleUpdate(-3, 1, 1)"
                    colspan="2"
                  >
                    A. Less than 20 Years
                  </td>
                  <!-- <td>-3</td>
                  <td rowspan="9">2</td>
                  <td rowspan="9">10</td>
                  <td rowspan="9" class="finAnaIptTd">{{ s_mws1 }}</td>
                  <td rowspan="9">{{ mws1 }}</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + a2"
                    (click)="handleUpdate(2, 1, 2)"
                  >
                    B. 20 and more but less than 25
                  </td>
                  <!-- <td>2</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + a3"
                    (click)="handleUpdate(3, 1, 3)"
                  >
                    C. 25 and more but less than 30
                  </td>
                  <!-- <td>3</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + a4"
                    (click)="handleUpdate(5, 1, 4)"
                  >
                    D. 30 and more but less than 35
                  </td>
                  <!-- <td>5</td> -->
                </tr>
                <tr>
                  <td></td>

                  <td
                    colspan="2"
                    [class]="'selectable ' + a5"
                    (click)="handleUpdate(5, 1, 5)"
                  >
                    E. 35 and more but less than 40
                  </td>
                  <!-- <td>5</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + a6"
                    (click)="handleUpdate(3, 1, 6)"
                  >
                    F. 40 and more but less than 45
                  </td>
                  <!-- <td>3</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + a7"
                    (click)="handleUpdate(2, 1, 7)"
                  >
                    G. 45 and more but less than 50.
                  </td>
                  <!-- <td>2</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + a8"
                    (click)="handleUpdate(1, 1, 8)"
                  >
                    H. 50 and more but less than 55
                  </td>
                  <!-- <td>1</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + a9"
                    (click)="handleUpdate(-3, 1, 9)"
                  >
                    I. 55 and above
                  </td>
                  <!-- <td>-3</td> -->
                </tr>
                <tr>
                  <td>2</td>
                  <td style="font-weight: bold; font-size: 15px">
                    Education Level : (In case of joint borrowers, consider one
                    with higher Education Level)
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + b1"
                    (click)="handleUpdate(3, 2, 1)"
                  >
                    A. Post-Graduation
                  </td>
                  <!-- <td>3</td>
                  <td rowspan="4">1</td>
                  <td rowspan="4">3</td>
                  <td rowspan="4" class="finAnaIptTd">{{ s_mws2 }}</td>
                  <td rowspan="4">{{ mws2 }}</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + b2"
                    (click)="handleUpdate(2, 2, 2)"
                  >
                    B. Graduation
                  </td>
                  <!-- <td>2</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + b3"
                    (click)="handleUpdate(1, 2, 3)"
                  >
                    C. High School (10th Standard)
                  </td>
                  <!-- <td>1</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + b4"
                    (click)="handleUpdate(-2, 2, 4)"
                  >
                    D. Primary School (5th Standard)
                  </td>
                  <!-- <td>-2</td> -->
                </tr>
                <tr>
                  <td>3</td>
                  <td style="font-weight: bold; font-size: 15px">
                    Applicant's Worth
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2" [class]="c1">
                    A. Applicant's present combined worth is estimated at More
                    than 1.50 times of the proposed loan amount.
                  </td>
                  <!-- <td>2</td>
                  <td rowspan="5">1</td>
                  <td rowspan="5">2</td>
                  <td rowspan="5" class="finAnaIptTd">{{ s_mws3 }}</td>
                  <td rowspan="5">{{ mws3 }}3</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2" [class]="c2">
                    B. Applicant's present combined worth is estimated at 1 and
                    More But Less than 1.50 times of the proposed loan amount.
                  </td>
                  <!-- <td>1.75</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2" [class]="c3">
                    C. Applicant's present combined worth is estimated at 0.75
                    and More but Less than 1 of the proposed loan amount.
                  </td>
                  <!-- <td>1.5</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2" [class]="c4">
                    D. Applicant's present combined worth is estimated at 0.25
                    and More but Less than 0.50 time of the proposed loan
                    amount.
                  </td>
                  <!-- <td>1.25</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2" [class]="c5">
                    E. Applicant's present combined worth is estimated at Less
                    than 0.25 time of the proposed loan amount.
                  </td>
                  <!-- <td>0.5</td> -->
                </tr>
                <tr>
                  <td>4</td>
                  <td style="font-weight: bold; font-size: 15px">
                    Applicant's borrowing history.
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + d1"
                    (click)="handleUpdate(3, 4, 1)"
                  >
                    A. Applicant/s has Never Taken any Loan from any financial
                    institution so far.
                  </td>
                  <!-- <td>3</td>
                  <td rowspan="4">2</td>
                  <td rowspan="4">6</td>
                  <td rowspan="4" class="finAnaIptTd">{{ s_mws4 }}</td>
                  <td rowspan="4">{{ mws4 }}</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + d2"
                    (click)="handleUpdate(3, 4, 2)"
                  >
                    B. The applicant has Availed Loan from financial institution
                    and paid off fully on time.
                  </td>
                  <!-- <td>3</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + d3"
                    (click)="handleUpdate(2, 4, 3)"
                  >
                    C. The applicant has Availed Loan from financial institution
                    and paying regular installments.
                  </td>
                  <!-- <td>2</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + d4"
                    (click)="handleUpdate(-5, 4, 4)"
                  >
                    D. The applicant has Availed Loan from financial institution
                    and have defaulted the repayment or have problem in paying
                    installments on time.
                  </td>
                  <!-- <td>-5</td> -->
                </tr>
                <tr>
                  <td>5</td>
                  <td style="font-weight: bold; font-size: 15px">
                    Applicant's Market reports :
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + e1"
                    (click)="handleUpdate(3, 5, 1)"
                  >
                    A. The applicant is reported to be very honest and
                    creditworthy.
                  </td>
                  <!-- <td>3</td>
                  <td rowspan="3">2</td>
                  <td rowspan="3">6</td>
                  <td rowspan="3" class="finAnaIptTd">{{ s_mws5 }}</td>
                  <td rowspan="3">{{ mws5 }}</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + e2"
                    (click)="handleUpdate(2, 5, 2)"
                  >
                    B. The applicant is reported to be generally honest and we
                    do not have any negative market reports about her / him /
                    them.
                  </td>
                  <!-- <td>2</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + e3"
                    (click)="handleUpdate(-5, 5, 3)"
                  >
                    C. We have some Negative Reports about applicant which may
                    adversely affect the recovery of loan.
                  </td>
                  <!-- <td>-5</td> -->
                </tr>
                <tr>
                  <td>6</td>
                  <td style="font-weight: bold; font-size: 15px">
                    Guarantor's Credentials
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + f1"
                    (click)="handleUpdate(3, 6, 1)"
                  >
                    A. Guarantors are reported to be HIGHLY respectable and
                    honest persons.
                  </td>
                  <!-- <td>3</td>
                  <td rowspan="3">1</td>
                  <td rowspan="3">3</td>
                  <td rowspan="3" class="finAnaIptTd">{{ s_mws6 }}</td>
                  <td rowspan="3">{{ mws6 }}</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + f2"
                    (click)="handleUpdate(2, 6, 2)"
                  >
                    B. Guarantors are reported to be GENERALLY respectable and
                    honest persons.
                  </td>
                  <!-- <td>2</td> -->
                </tr>
                <tr>
                  <td></td>
                  <td
                    colspan="2"
                    [class]="'selectable ' + f3"
                    (click)="handleUpdate(1, 6, 3)"
                  >
                    C. The applicant has offered No Guarantor.
                  </td>
                  <!-- <td>1</td> -->
                </tr>
                <!-- <tr>
                  <td colspan="4" style="text-align: center">Total Score</td>
                  <td colspan="2" style="text-align: right">30</td>
                  <td colspan="2" style="text-align: right">{{ mws_total }}</td>
                </tr> -->
              </table>
            </div>

            <div class="col-12 mt-3">
              <button type="submit" class="btn btn-primary" (click)="goBack()">
                Back
              </button>
              <button
                type="submit"
                class="btn btn-primary mx-3"
                (click)="handleSubmit()"
              >
                Save & Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
