<!-- <p>retail-loan works!</p> -->
<app-header></app-header>
<main id="main" class="main" style="
margin-left: 0;
padding: 40px 100px;
">
    <div class="pagetitle row" style="align-items: center">
      <div class="col" style="
      text-align: center;
  ">
        <h1>Retail Loan Products</h1>
        <div class="">
          <!-- <img
            src="./assets/img/acram.png"
            style="width: 88px"
            alt="logo"
          /> -->
          <h6 class="mt-1 mb-5 pb-1"> Select Loan Product</h6>
        </div>
        <!-- <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav> -->
      </div>
      
    </div>
    <!-- End Page Title -->
  
    <section ngcontent-rlt-c15="" class="section"><div ngcontent-rlt-c15="" class="row"><div ngcontent-rlt-c15="" class="col-lg-12"><div ngcontent-rlt-c15="" class="card"><div ngcontent-rlt-c15="" class="card-body"><div ngcontent-rlt-c15="" class="row">
      <div class="col-md-2 col-sm-12"></div>
      <div _ngcontent-rlt-c15="" class="col-md-5 col-sm-12 mt-3"><div class="card card-retailloan" >
        <img src="../../../assets/img/homeloan.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Home Loan</h5>
          
          <a routerLink="/homeloan/dashboard" class="btn btn-primary btn-sm">Go for Home Loan</a>
        </div>
      </div></div>
      
      
      <div _ngcontent-rlt-c15="" class="col-md-5 col-sm-12 mt-3"><div class="card card-retailloan">
        <img src="../../../assets/img/personalvehicleloan.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Personal Vehicle Loan</h5>
          
          <a href="#" class="btn btn-primary btn-sm disable-card">Go for Personal Vehicle Loan</a>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-12"></div>
      
      <div _ngcontent-rlt-c15="" class="col-md-5 col-sm-12 mt-3"><div class="card card-retailloan">
        <img src="../../../assets/img/commercialvehicleloan.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Commercial Vehicle Loan</h5>
          
          <a href="#" class="btn btn-primary btn-sm disable-card">Go for Commercial Vehicle Loan</a>
        </div>
      </div></div>
      
      <div _ngcontent-rlt-c15="" class="col-md-5 col-sm-12 mt-3"><div class="card card-retailloan">
        <img src="../../../assets/img/goldloan.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Gold Loan</h5>
          
          <a href="#" class="btn btn-primary btn-sm disable-card">Go for Gold Loan</a>
        </div>
      </div></div></div></div></div></div></div></section>
  </main>
