<!-- ======= Header ======= -->
<header
  id="header"
  class="header fixed-top d-flex align-items-center justify-content-between"
>
  <div class="d-flex align-items-center">
    <a routerLink="/retailloan-products" class="logo d-flex align-items-center">
      <!-- <img src="assets/img/logo.png" alt="" /> -->
      <i *ngIf="!imageShow" class="bx bxs-home" style="font-size: 30px; margin: 15px"></i>
      <span *ngIf="!imageShow" class="d-none d-lg-block">Home Loan</span>

      <img
      *ngIf="imageShow"
      src="./assets/img/acram.png"
      style="width: 88px;max-height: 47px;"
      alt="logo"
      />
    </a>
    <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
  </div>
  <!-- End Logo -->

  <!-- <div class="search-bar">
    <form
      class="search-form d-flex align-items-center"
      method="POST"
      action="#"
    >
      <input
        type="text"
        name="query"
        placeholder="Search"
        title="Enter search keyword"
      />
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div> -->
  <!-- End Search Bar -->
  <div>
    <!-- <img src="./assets/img/acram.png" style="width: 35%;" /> -->
  </div>

  <nav class="header-nav">
    <ul class="d-flex align-items-center">
      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle" href="#">
          <i class="bi bi-search"></i>
        </a>
      </li>
      <!-- End Search Icon-->
      <li></li>
      <li class="nav-item dropdown pe-3">
        <a
          class="nav-link nav-profile d-flex align-items-center pe-0"
          href="#"
          data-bs-toggle="dropdown"
        >
        <img *ngIf="logedInUser.photo" src="{{ mediaUrl + logedInUser.photo }}" alt="Profile" class="rounded-circle" />
        <img *ngIf="!logedInUser.photo" src="{{ mediaUrl + 'no-user-image.png' }}" alt="Default Profile" class="rounded-circle" />
          <span class="d-none d-md-block dropdown-toggle ps-2">
            {{ logedInUser.f_name }}
            <ng-container *ngIf="logedInUser.l_name">
              {{ ' ' + logedInUser.l_name }}
            </ng-container>
          </span>
           </a
        ><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>
              {{ logedInUser.f_name }}
              <ng-container *ngIf="logedInUser.l_name">
                {{ ' ' + logedInUser.l_name }}
              </ng-container>
            </h6>
            <span>{{ logedInUser.type }}</span>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              href="users-profile.html"
              [style.pointer-events]="'none'"
              [style.opacity]="0.5"
            >
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" (click)="logout()" style="cursor: pointer;">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>
        </ul>
        <!-- End Profile Dropdown Items -->
      </li>
      <!-- End Profile Nav -->
    </ul>
  </nav>
  <!-- End Icons Navigation -->
</header>
<!-- End Header -->
