<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <!-- <div
    class="copyright"
    style="display: flex; justify-content: center; align-items: center"
  >
    <div style="text-align: right; margin: 10px">
      <img src="./assets/img/acram.png" style="width: 35%" />
    </div>
    <div style="margin-top: 20px">&copy; Copyright All Rights Reserved</div>
  </div> -->
  <div>
    <div style="display: flex; justify-content: center">
      <img src="./assets/img/acram.png" style="width: 60px; height: 33px" />
      <span style="margin: 15px 10px">
        &copy; Copyright All Rights Reserved
      </span>
    </div>
  </div>
</footer>
<!-- End Footer -->
